./.metadata
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/data/
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/checkpoint
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/lenet.data-00000-of-00001
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/lenet.index
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/lenet.meta
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/.ipynb_checkpoints/*
