.metadata/*

#Project2
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/data/*.pickle
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/data/traffic-signs-data/*
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/checkpoint/*
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/lenet.data-00000-of-00001
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/lenet.index
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/lenet.meta
./CarND-Project2/CarND-Traffic-Sign-Classifier-Project/.ipynb_checkpoints/*


#PreProject3
CarND-PreProject3/CarND-Alexnet-Feature-Extraction/data/
CarND-PreProject3/CarND-Transfer-Learning-Lab/data/
CarND-PreProject3/CarND-Behavioral-Cloning-P3/data.p
CarND-PreProject3/CarND-Behavioral-Cloning-P3/data/
CarND-PreProject3/CarND-Behavioral-Cloning-P3/.ipynb_checkpoints/
CarND-PreProject3/CarND-Behavioral-Cloning-P3/__MACOSX/
CarND-PreProject3/CarND-Behavioral-Cloning-P3/data.zip
CarND-PreProject3/CarND-Behavioral-Cloning-P3/run1/

#CarND-Project5
CarND-Project5/CarND-Vehicle-Detection/data/
